<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title :: bmobile-Vodafone Papua New Guinea and Solomon Islands offers high-speed data</title>
    <link href="@Url.Content("~/Images/favicon.ico")" rel="shortcut icon" type="image/x-icon" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name='url' content="www.bmobile.com.pg/" />
    <meta name="description" content="bmobile is a communications provider with operations in Papua New Guinea and Solomon Islands offers high-speed data, reliable voice and SMS in all major towns in PNG and the Solomon Islands.bmobile becomes Vodafone's exclusive partner in Papua New Guinea and the Solomon Islands" />
    <meta name="keywords" content="vodafone, vodaphone, bmobile bemobile, Papua New Guinea, Solomon Islands, voice and SMS, high-speed data, 3G, 4G, CUG, prepaid, postpaid, selfcare, topup" />
    <meta name="robots" content="all" />
    
	<meta name="robots" content="index,follow" />
    <meta name="revisit-after" content="3 days" />

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

      <link href="@Url.Content("~/cssnew/css.css")" rel="stylesheet" />
    <link href="@Url.Content("~/cssnew/Style.css")" rel="stylesheet" />

    <script src="@Url.Content("~/cssnew/modernizr.js")"></script>

@*    @Styles.Render("~/Content/css")
    <link href="@Url.Content("~/Content/Style.css?modified=20140807")" rel="stylesheet" />*@


   @*   <link href="@Url.Content("~/Content/smartadmin-production.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/themes/bootstrapmodified.css")" rel="stylesheet" />*@

     <link rel="stylesheet" href="@Url.Content("~/Content/bootstrap.min.css")" type="text/css" media="screen" />
    <link rel="stylesheet" type="text/css" media="screen" href="@Url.Content("~/Content/font-awesome.min.css")">
    <link rel="stylesheet" type="text/css" media="screen" href="@Url.Content("~/Content/smartadmin-production.css")">
     
    @*@Scripts.Render("~/bundles/modernizr")*@

    <link rel="stylesheet" href="@Url.Content("~/css/flexslider.css")" type="text/css" media="screen" />
    <script src="@Url.Content("~/js/jquery.min.js")" type="text/javascript"></script>
    <script  src="@Url.Content("~/js/jquery.js")" type="text/javascript"></script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            /* prepend menu icon */
            $('#nav-wrap').prepend('<div id="menu-icon">BROWSE</div>');

            /* toggle nav */
            $("#menu-icon").on("click", function () {
                $("#nav").slideToggle();
                $(this).toggleClass("active");
            });
        });
    </script>
    <script defer src="@Url.Content("~/js/jquery.flexslider.js")"></script>
    <script type="text/javascript">
        $(function () {
            SyntaxHighlighter.all();
        });
        $(window).load(function () {
            $('.flexslider').flexslider({
                animation: "slide",
                slideshow: true,
                start: function (slider) {
                    $('body').removeClass('loading');
                }
            });
        });
    </script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    <script type="text/javascript" src="@Url.Content("~/js/jquery.sticky.js")"></script>
    <script>
        $(window).load(function () {
            $("#sticker").sticky({ topSpacing: 0, center: true, className: "hey" });
        });
    </script>
    <script src="@Url.Content("~/js/jquery-1.7.1.min.js")" type="text/javascript"></script>
    <script type="text/javascript" src="@Url.Content("~/js/jquery.ddslick.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/js/script.js")"></script>
    <style>
        #sticker {
            color: white;
            width: 100%;
            line-height: 1.6em;
            text-align: center;
            text-shadow: 0 1px 1px rgba(0,0,0,.2);
            border-radius: 50px;
            text-align: center;
            position: relative;
            margin-top: 5px;
        }
    </style>
</head>
<body>
    <div class="header">
        <div class="header_next">
            <div class="margin">
                <div class="head_top">
                    <div class="logo">
                        <div class="logo_img">
                            <a href="@Url.Action("Index", "Home")" class="site-title">
                                <img src="/Images/logo_new.jpg" alt="Home"></img></a>
                        </div>
                    </div>

                    <div class="header_right">
                        <div class="header_top_menu">

                            <div class="hed_menu">
                                <div class="hed_menu_box ext_width">

                                    <div class="hed_menu_box_img padd_top">
                                        <a href="@ViewBag.domain_name/Care/Login">
                                            <img src="/Images/myaccount_icon.png" alt="MyAccount" /></a>
                                    </div>
                                    <div class="hed_menu_box_text">
                                        <a href="@ViewBag.domain_name/Care/Login">Login</a>
                                    </div>

                                </div>

                                <div class="hed_menu_box">

                                    <div class="hed_menu_box_img padd_top">
                                        <a href="@ViewBag.domain_name/Care/Register">
                                            <img src="/Images/register_icon.png" alt="Register" /></a>
                                    </div>
                                    <div class="hed_menu_box_text">
                                        <a href="@ViewBag.domain_name/Care/Register">Register</a>
                                    </div>
                                </div>

                                <div class="hed_menu_box">

                                    <div class="hed_menu_box_img padd_top">
                                        <a href="@ViewBag.domain_name/Care/Login">
                                            <img src="/Images/pay_your_bill.png" alt="Pay Your Bill" /></a>
                                    </div>
                                    <div class="hed_menu_box_text">
                                        <a href="@ViewBag.domain_name/Care/Login">Pay Your Bill</a>
                                    </div>
                                </div>

                                <div class="hed_menu_box">
                                    <div class="hed_menu_box_img padd_top">
                                        <a href="@ViewBag.domain_name/Care/Login">
                                            <img src="/Images/check_bill.png" alt="Check Bill" /></a>
                                    </div>
                                    <div class="hed_menu_box_text">
                                        <a href="@ViewBag.domain_name/Care/Login">Check Bill</a>
                                    </div>
                                </div>

                                <div class="hed_menu_box">
                                    <div class="hed_menu_box_img padd_top">
                                        <a href="@ViewBag.domain_name/Care/Login">
                                            <img src="/Images/recharge_now.png" alt="Recharge Now" /></a>
                                    </div>
                                    <div class="hed_menu_box_text">
                                        <a href="@ViewBag.domain_name/Care/Login">Recharge Now</a>
                                    </div>
                                </div>

                                <div class="hed_menu_box">
                                    <div class="hed_menu_box_img padd_top">
                                        <a href="http://selfcare.bmobile.com.pg/Care/Login">
                                            <img src="/Images/check_usage.png" alt="Check Usage" /></a>
                                    </div>
                                    <div class="hed_menu_box_text">
                                        <a href="@ViewBag.domain_name/Care/Login">Check Usage</a>
                                    </div>
                                </div>

                                <div class="hed_menu_box">

                                    <div class="hed_menu_box_img padd_top">
                                        <a href="@ViewBag.domain_name/Care/Login">
                                            <img src="/Images/activate_a_sim.png" alt="Activate Sim" /></a>
                                    </div>
                                    <div class="hed_menu_box_text">
                                        <a href="@ViewBag.domain_name/Care/Login">Activate A Sim</a>
                                    </div>
                                </div>
                            </div>

                            <div class="social_icon" style="float: none;">
                                <a href="http://www.facebook.com/bmobile.Vodafone">
                                    <img src="/Images/fb_icon.png" alt="Facebook"></img></a>
                                @*                                <a href="#">
                                    <img src="/Images/twitt_icon.png" alt="Twitter"></img></a>*@
                            </div>
                        </div>

                        <div class="nav_menu">
                            <nav id="nav-wrap">
                                <ul id="nav" style="display: none;">
                                    <li class="first"><a href="@Url.Action("index", "Home")">Home</a></li>
                                    <li><a href="@Url.Action("PG", "Home", new { id="priceplans"})">Price Plan</a>
                                        <ul class="mid_menu_1" style="width: 225px;">
                                            <li>
                                                <div class="mid_hor_sub">
                                                    <div class="arrow_img">
                                                        <img src="/Images/mega-menu-up-arrow.png">
                                                    </div>
                                                    <div class="cat_left_menu">
                                                        <div class="cat_sub_menu"><a href="@Url.Action("prepaid", "Home")">Prepaid</a></div>
                                                        <div class="cat_sub_menu"><a href="@Url.Action("PG", "Home", new { id="postpaid"})">Post Paid &nbsp; &nbsp; &frasl; &nbsp;&nbsp;&nbsp; <a href="@Url.Action("PG", "Home", new { id="roaming"})">Roaming</a></a></div>
                                                        <div class="cat_sub_menu"><a href="@Url.Action("data", "Home")">Data</a></div>
                                                        <div class="cat_sub_menu"><a href="@Url.Action("callforwarding", "Home")">Call Forwarding</a></div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                    <li><a href="http://selfcare.bmobile.com.pg/Shop/Products">Products</a></li>
                                    <li><a href="@Url.Action("value_added_service", "Home")">Value Added Services</a></li>
                                    <li><a href="@Url.Action("promotions", "Home")">Promotions</a></li>
                                    <li><a href="@Url.Action("support", "Home")">Support</a>
                                        <ul class="mid_menu_1" style="width: 225px;">
                                            <li>
                                                <div class="mid_hor_sub">
                                                    <div class="arrow_img">
                                                        <img src="/Images/mega-menu-up-arrow.png">
                                                    </div>
                                                    <div class="cat_left_menu">
                                                        <div class="cat_sub_menu"><a href="@Url.Action("faq", "Home")">Faq's</a></div>
                                                        <div class="cat_sub_menu"><a href="@Url.Action("contactus", "Home")">Contact Us</a></div>
                                                          <div class="cat_sub_menu"><a href="@Url.Action("PG", "Home", new { id="getintouch"})">Get in Touch</a></div>

                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="last last_bg"><a href="@Url.Action("PG", "Home", new { id="whats_new"})">News</a></li>
                                </ul>
                            </nav>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="header_top">
            <div class="margin">
                <div class="header_top_text">
                    <marquee style="position: relative; width: 774px; font-size: 10px;" behavior="scroll" align="center" direction="left" scrollamount="2" scrolldelay="5" onmouseover="this.stop()" onmouseout="this.start()">
                        @foreach (var item in (List<string>)ViewBag.marquee_txt)
                        {
                            <p style="list-style:circle">@item</p>
                        }
                    </marquee>
                </div>
            </div>
        </div>
    </div>
    <div id="body" class="mid" >
        
        @RenderSection("featured", required: false)
        <section class="content-wrapper  clear-fix">
            @RenderBody()
        </section>
    </div>
    <div class="footer">
        <div class="footer_bg">
            <div class="footer_margin">
                <div class="footer_top">
                    <div class="footer_menu_top"  style="width:180px">
                        <div class="footer_menu">
                            <h1>Our company </h1>
                            <ul>
                                <li><a href="@Url.Action("PG", "Home", new { id = "about" })">About bmobile-Vodafone</a></li>
                                <li><a href="@Url.Action("PG", "Home", new { id = "why_bmobile" })">Why Choose bmobile-Vodafone</a></li>
                                <li><a href="@Url.Action("board_of_directors", "Home")">Board of Directors</a></li>
                                <li><a href="@Url.Action("senior_management", "Home")">Senior Management</a></li>
                                <li><a href="@Url.Action("PG", "Home", new { id = "careers" })">Careers</a></li>
                                <li><a href="@Url.Action("tenders", "Home")">Tenders</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="footer_menu_next" style="width:130px">
                        <div class="footer_menu">
                            <div class="footer_menu">
                                <h1>Useful Links</h1>
                                <ul>
                                    <li><a href="@Url.Action("PG", "Home", new { id = "get_on_web" })">Get on the Web</a></li>
                                    <li><a href="@Url.Action("network_locations", "Home")">Network Coverage</a></li>
                                    <li><a href="@Url.Action("PG", "Home", new { id = "store_locations" })">Store Locations</a></li>
                                    <li><a href="@Url.Action("reseller_list", "Home")">Find Resellers</a></li>
                                    <li><a href="@Url.Action("PG", "Home", new { id = "Cug" })">CUG</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="footer_menu_top" style="width:130px">
                        <div class="footer_menu">
                            <div class="footer_menu">
                                <h1>Help Me</h1>
                                <ul>
                                    <li><a href="@Url.Action("faq", "Home")">FAQs</a></li>
                                    <li><a href="@Url.Action("contactus", "Home")">Contact Us</a></li>
                                    <li><a href="@Url.Action("PG", "Home", new {id="sitemap" })">Sitemap</a></li>
                                    <li><a href="@Url.Action("PG","Home",new{id="TermsConditions"})">Terms & Conditions</a></li>
                                    <li><a href="@Url.Action("PG","Home",new{id="ReturnsRefunds"})">Returns & Refunds</a></li>
                                  @*  <li><a href="@Url.Action("network_locations", "Home")">Network Coverage</a></li>*@
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <script type="text/javascript" src="@Url.Content("~/js/jquery-1.7.1.min.js")"></script>
    @*    @Scripts.Render("~/bundles/jquery")*@
    @RenderSection("scripts", required: false)
</body>
</html>
