@using MvcPaging
@model IPagedList<bmcms.Models.bm_prepaid_plan_cms>

    <table class="table  table-hover">
        <thead>
            <tr>
                <th>Network Type
                </th>
                <th>Prepaid Type
                </th>                
                <th>Peak Hour
                </th>
                <th>Off Peak Hour
                </th>
                <th>All_Days
                </th>
                <th>Status
                </th>
                <th>Edit</th>
                <th>Remove</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var items in Model)
            {
                <tr>
                    <td>
                        @items.Network_Type
                    </td>
                    <td>
                        @items.Prepaid_Type
                    </td>
                    <td>
                        @items.Peak_Hour
                    </td>
                    <td>
                        @items.Offpeak_Hour
                    </td>
                    <td>
                        @items.All_Days
                    </td>
                    <td>
                        <span class="@(items.Is_Active == true ? "label label-success": "label label-warning")">@items.Is_Active</span>
                    </td>
                    <td>
                        <a class="label label-info" href=" @Url.Action("bm_prepaid", "Admin", new { id = items.Id })">Edit</a>
                    </td>
                    <td>
                        <a class="delete-link label label-important" href=" @Url.Action("Delete_Prepaid", "Admin", new { id = items.Id })">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="pager1">
        @Html.Raw(Ajax.Pager(
            new Options
            {
                PageSize = Model.PageSize,
                TotalItemCount = Model.TotalItemCount,
                CurrentPage = Model.PageNumber,
                ItemTexts = new ItemTexts() { Next = "Next", Previous = "Previous", Page = "P" },
                ItemIcon = new ItemIcon() { First = "icon-backward", Previous = "icon-chevron-left", Next = "icon-chevron-right", Last = "icon-forward" },
                TooltipTitles = new TooltipTitles() { Next = "Next page", Previous = "Previous page", Page = "Page {0}." },
                Size = Size.normal,
                Alignment = Alignment.centered,
                IsShowControls = true,
                IsShowFirstLast = true,
                CssClass = ""
            },
            new AjaxOptions
            {
                UpdateTargetId = "grid-list",
                OnBegin = "beginPaging",
                OnSuccess = "successPaging",
                OnFailure = "failurePaging"
            }, new { controller = "Admin", action = "Prepaid" }))
        <div class="well">
            Showing <span class="badge badge-success">@Model.ItemStart</span> to <span class="badge badge-success">@Model.ItemEnd</span>
            of <span class="badge badge-info">@Model.TotalItemCount</span> entries
        </div>
    </div>
    <script src="~/Scripts/bootstrap.min.js" type="text/javascript"></script>




