@model bmcms.Models.bm_page_cms
@{
    ViewBag.Title = "Pages";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="choose_box remov_padd">
    @using (Html.BeginForm("bm_page", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        if (ViewBag.Msg != null)
        {
            <div class="alert alert-danger" role="alert"><strong>Error!</strong>&nbsp;@ViewBag.Msg</div>
        }        
        <div class="sub_page">
            <h2>Page</h2>
            <p>&nbsp;</p>
            @Html.HiddenFor(m => m.Id)
            <div class="page_box">
                <div class="left_side">Page Name</div>
                <div class="right_side">@Html.TextBoxFor(m => m.page_name)
                    @Html.ValidationMessageFor(m=>m.page_name)
                </div>
            </div>
            <div class="page_box">
                <div class="left_side">Page Name</div>
                <div class="right_side">@Html.DropDownListFor(m => m.page_type_id,new SelectList(ViewBag.Page_types,"Id","Type_name"),"select")
                    @Html.ValidationMessageFor(m=>m.page_type_id)
                </div>
            </div>
            <div class="page_box">
                <div class="left_side">Active</div>
                <div class="right_side">@Html.CheckBoxFor(m => m.Is_Active)
                </div>
            </div>
            <div class="page_box">
                <div class="left_side">&nbsp;</div>
                <div class="right_side">
                    <input type="submit" value="submit" />
                    <input type="button" id="BtnBack" value="Back"  onclick="window.location = '/Admin/page'" />
                    
                </div>
            </div>
        </div>
    }
</div>
