@model bmcms.Models.web_tbl_promotions
@{
    ViewBag.Title = "Promotion Detail";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="choose_box remov_padd">
    @using (Html.BeginForm("bm_promotion", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        if (ViewBag.Msg != null)
        {
            <div class="alert alert-danger" role="alert"><strong>Error!</strong>&nbsp;@ViewBag.Msg</div>
        }        
        <div class="sub_page">
            <h2>Promotion Detail</h2>
            <p>&nbsp;</p>
            @Html.HiddenFor(m=>m.id)
            @Html.HiddenFor(m=>m.image_url)
            <div class="page_box">
                <div class="left_side">Promotion Title</div>
                <div class="right_side">@Html.TextBoxFor(m => m.title)
                    @Html.ValidationMessageFor(m => m.title)
                </div>
            </div>
            <div class="page_box">
                <div class="left_side">Upload Image</div>
                <div class="right_side">@Html.TextBox("pro_img", null, new { @type = "file" })@if (ViewBag.ErMsg != null)
                                                                                              {<span class="field-validation-error">@ViewBag.ErMsg</span> }
                    @if (Model.image_url != null)
                    {<a class="lightbox-img" href="@Model.image_url">View Image</a> }
                </div>
            </div>
            <div class="page_box">
                <div class="left_side">Promotion Content</div>
                <div class="right_side">@Html.TextAreaFor(m => m.description)
                    @Html.ValidationMessageFor(m => m.description)
                </div>
            </div>
            <div class="page_box">
                <div class="left_side">Active</div>
                <div class="right_side">@Html.CheckBoxFor(m => m.IsActive)
                </div>
            </div>
            <div class="page_box">
                <div class="left_side">&nbsp;</div>
                <div class="right_side">
                    <input type="submit" value="submit" />
                     <input type="button" id="BtnBack" value="Back"  onclick="window.location = '/Admin/promotion'" />
                </div>
            </div>
        </div>
    }
</div>


@section Scripts
{
   <script type="text/javascript">

    (function(){ 

        tinyMCE.init({

            // General options
            mode: "exact",
            elements: "description",
            theme: "advanced",
            height: "500",
            width: "400",
            verify_html : false,
		    plugins : "pagebreak,style,layer,table,save,advhr,advimage,advlink,emotions,iespell,inlinepopups,insertdatetime,preview,media,searchreplace,print,contextmenu,paste,directionality,fullscreen,noneditable,visualchars,nonbreaking,xhtmlxtras,template,wordcount,advlist,autosave",

		    // Theme options
		    theme_advanced_buttons1 : "save,newdocument,|,bold,italic,underline,strikethrough,|,justifyleft,justifycenter,justifyright,justifyfull,styleselect,formatselect,fontselect,fontsizeselect",
		    theme_advanced_buttons2 : "cut,copy,paste,pastetext,pasteword,|,search,replace,|,bullist,numlist,|,outdent,indent,blockquote,|,undo,redo,|,link,unlink,anchor,image,cleanup,help,code,|,insertdate,inserttime,preview,|,forecolor,backcolor",
		    theme_advanced_buttons3 : "tablecontrols,|,hr,removeformat,visualaid,|,sub,sup,|,charmap,emotions,iespell,media,advhr,|,print,|,ltr,rtl,|,fullscreen",
		    theme_advanced_buttons4 : "insertlayer,moveforward,movebackward,absolute,|,styleprops,|,cite,abbr,acronym,del,ins,attribs,|,visualchars,nonbreaking,template,pagebreak,restoredraft,codehighlighting,netadvimage",
		    theme_advanced_toolbar_location : "top",
		    theme_advanced_toolbar_align : "left",
		    theme_advanced_statusbar_location : "bottom",
		    theme_advanced_resizing : true,

		    // Example content CSS (should be your site CSS)
		    //content_css : "css/content.css",
            content_css : "@Url.Content("~/Scripts/tinymce/css/content.css")",
            convert_urls : false,

		    // Drop lists for link/image/media/template dialogs
		    template_external_list_url : "lists/template_list.js",
		    external_link_list_url : "lists/link_list.js",
		    external_image_list_url : "lists/image_list.js",
		    media_external_list_url : "lists/media_list.js",

	    });

    })();

</script>
}